@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right" style="padding-left: 2px;">
        <li class="lilogoff">
            <i class="fa fa-user" aria-hidden="true" ></i>
            @Html.ActionLink("Hello " + User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage"})
        </li>
        <li style="margin-right: 10px;">
             <a href="javascript:document.getElementById('logoutForm').submit()">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                <p>log out</p>
            </a>
        </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right logul" style="padding-left: 2px;">
        <li>
            <i class="fa fa-plus" aria-hidden="true" style="color:#9A9A9A;"></i>
            @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        </li>
        <li>
            <i class="fa fa-sign-in" aria-hidden="true" style="color:#9A9A9A;"></i>
            @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </li>
    </ul>
}
